.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.app-header {
  background-color: #DDDDDD;
  height: 150px;
  padding: 20px;
  color: white;
}

.navbarLinks {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbarLinks > li {
  display: inline;
}